@import "tailwindcss";


@layer base {
  a {
    text-decoration: none !important;
  }
}

a[href], a:hover, a:focus, a:active {
  text-decoration: none !important;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

:any-link {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

h1, h2 {
  font-family: "Marcellius", serif;
}

p {
  font-family: "Inter", sans-serif;
}